@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* width: clamp(200px, 50% + 20px, 800px); */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none;
    box-sizing: border-box;
    font-family: "Krona One", sans-serif;
}

:root {
    --bgBlue: #1c0d5a;
    --skyBlue: #295cff;
    --white: #fff;
    --lightBlue: #0e94ff;
    --ibn-font: "IBM Plex Sans", sans-serif;
    --black-color: #3D3D3D;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: var(--bgBlue);

    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;

        a {
            img {
                height: 5rem;
            }
        }

        ul {
            display: flex;
            gap: 2rem;
            list-style: none;

            li {
                #homeN {
                    color: var(--skyBlue);
                }

                a {
                    text-decoration: none;
                    color: var(--white);
                    transition: 200ms all;

                    &:hover {
                        color: var(--skyBlue);
                    }
                }
            }
        }

        button {
            background-color: var(--skyBlue);
            color: var(--white);
            border: none;
            padding: 1rem 2rem;
            font-size: 1.05rem;
            border-radius: 5px;
            transition: 200ms all;
            cursor: pointer;

            &:hover {
                background-color: var(--lightBlue);
            }
        }

        i {
            font-size: 1.5rem;
            background-color: var(--skyBlue);
            padding: 0.6rem .8rem;
            border-radius: 5px;
            color: var(--bgBlue);
            display: none;
            cursor: pointer;
            transition: 200ms all;

            &:hover {
                background-color: var(--lightBlue);
                color: var(--white);
            }
        }
    }

    .responsiveNav {
        height: 100vh;
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--bgBlue);
        transition: 200ms all;
        /* transform: translateX(100%); */
        width: 0;
        overflow: hidden;
        z-index: 999;

        .main {
            padding: 2rem;

            i {
                position: absolute;
                top: 1rem;
                right: 1rem;
                background-color: unset;
                color: var(--white);
            }

            ul {
                display: block;
                width: 100%;
                padding-top: 3rem;

                li {
                    width: 100%;
                    margin-bottom: 2rem;
                    border-bottom: 2px solid #ffffff27;
                    padding-bottom: .5rem;
                }
            }
        }
    }
}

@media (max-width:1035px) {

    nav {
        .main {

            ul {
                display: none;
            }

            button {
                display: none;
            }

            i {
                display: block;
            }
        }
    }
}

@media (max-width:500px) {

    nav {
        .main {
            padding: 15px 20px;

            a {
                img {
                    height: 3.7rem;
                }
            }
        }
    }
}


.contact {
    background: linear-gradient(#1c0d5ac0, #1c0d5abe), url(/Assets/About/bg.jpeg) center;
    background-size: cover;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;

    h1 {
        font-size: clamp(1.2rem, -0.875rem + 8.333vw, 2rem);
        color: var(--white);

    }

    h3 {
        color: #0e94ff;
        font-size: 1.1rem;
    }
}

.form {
    max-width: 80rem;
    padding: 5vw 3vw;
    margin: auto;

    .main {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;

        .content {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            h1 {
                font-size: clamp(1.2rem, -0.875rem + 8.333vw, 2rem);
                font-weight: 400;
                color: var(--bgBlue);
            }

            p {
                font-size: 1.3rem;
                font-family: var(--ibn-font);
                color: var(--black-color);
            }

            h2 {
                font-size: 1rem;
                color: var(--black-color);
            }

            i {
                font-size: 1.8rem;
                color: var(--skyBlue);
                background-color: var(--bgBlue);
                padding: .7rem;
                width: 3.3rem;
                border-radius: 3px;
            }

            a {
                text-decoration: none;
                color: var(--black-color);
                font-size: clamp(1rem, -0.875rem + 8.333vw, 1.2rem);
            }
        }

        form {
            .main {
                display: flex;
                flex-direction: column;
                background-color: var(--bgBlue);
                padding: 2rem;
                border-radius: 4px;
                gap: 0;

                justify-content: unset;
                align-items: unset;

                .first {
                    display: flex;
                    gap: 1.5rem;

                    .l,
                    .r {
                        display: flex;
                        flex-direction: column;

                        label {
                            color: var(--white);

                            span {
                                color: #e53e3e;
                            }
                        }

                        input {
                            margin-top: .5rem;
                            padding: 1rem;
                            border: 1px solid var(--black-color);
                            border-radius: 4px;
                            background-color: transparent;
                            color: #ffffff87;

                            &::placeholder {
                                color: #ffffff57;
                                font-family: var(--ibn-font);
                                font-size: 1.1rem;
                            }
                        }
                    }
                }

                .second,
                .third,
                .forth {
                    display: flex;
                    flex-direction: column;

                    label {
                        padding-top: 1.5rem;
                        color: var(--white);

                        span {
                            color: #e53e3e;
                        }
                    }

                    input {
                        margin-top: .5rem;
                        padding: 1rem;
                        border: 1px solid var(--black-color);
                        border-radius: 4px;
                        background-color: transparent;
                        color: #ffffff87;

                        &::placeholder {
                            color: #ffffff57;
                            font-family: var(--ibn-font);
                            font-size: 1.1rem;
                        }
                    }

                    textarea {
                        margin-top: .5rem;
                        padding: 1rem;
                        resize: none;
                        border: 1px solid var(--black-color);
                        border-radius: 4px;
                        background-color: transparent;
                        color: #ffffff87;

                        &::placeholder {
                            color: #ffffff57;
                            font-family: var(--ibn-font);
                            font-size: 1.1rem;
                        }
                    }

                }

                button {
                    margin-top: 2rem;
                    padding: 1rem 2rem;
                    color: var(--bgBlue);
                    background-color: var(--skyBlue);
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: 200ms all;

                    &:hover {
                        background-color: var(--lightBlue);
                        color: var(--white);
                    }
                }

            }
        }
    }
}

@media (max-width:1100px) {
    .form {
        .main {
            flex-direction: column;
            width: 100%;

            form {
                padding-top: 2rem;
                width: 100%;

                .first {

                    .l,
                    .r {
                        width: 100%;

                    }

                    input {
                        width: 100%;

                    }
                }
            }
        }
    }
}

@media (max-width:570px) {
    .form {
        .main {
            .content{
                a{
                    font-size: 14px;
                }
            }
            form {
                .first {
                    flex-direction: column;
                }
            }
        }
    }
}
@media (max-width:370px) {
    .form {
        .main {
            .content{
                a{
                    font-size: 12px;
                }
            }
        }
    }
}



footer {
    background-color: var(--bgBlue);
    padding: 5vw 3vw;

    .main {
        color: var(--white);
        display: flex;
        max-width: 80rem;
        margin: auto;
        justify-content: space-between;
        flex-wrap: wrap;

        .first {
            max-width: 23rem;
            padding-top: 2rem;

            img {
                height: 5rem;
            }

            h1 {
                font-size: clamp(1.05rem, -0.875rem + 8.333vw, 1.1rem);
                font-weight: 400;
                padding: 1.5rem 0;
            }

            p {
                padding-bottom: .1rem;
                font-family: var(--ibn-font);
                font-size: 1.3rem;
            }
        }

        .second {
            padding-top: 2rem;

            h1 {
                font-size: clamp(1.05rem, -0.875rem + 8.333vw, 1.1rem);
                font-weight: 400;
                padding-bottom: 1.2rem;
            }

            a {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: var(--white);
                font-family: var(--ibn-font);
                font-size: 1.3rem;
                padding: .3rem 0;
                transition: 200ms all;

                &:hover {
                    color: var(--skyBlue);
                }
            }
        }

        .third {
            display: flex;
            padding-top: 2rem;

            flex-direction: column;
            gap: 1rem;

            a {
                color: var(--white);
                text-decoration: none;
                display: flex;
                align-items: center;
                transition: 200ms all;

                &:hover {
                    color: var(--skyBlue);
                }

                i {
                    font-size: 1.6rem;
                    margin-right: 1rem;
                }
            }
        }

        .fourth {
            max-width: 15rem;
            padding-top: 2rem;

            h1 {
                font-size: clamp(1.05rem, -0.875rem + 8.333vw, 1.1rem);
                font-weight: 400;
                padding-bottom: 2rem;
            }

            button {
                background-color: var(--skyBlue);
                padding: 1rem 2rem;
                border: none;
                border-radius: 2px;
                color: var(--bgBlue);
                transition: 200ms all;
                cursor: pointer;

                &:hover {
                    background-color: var(--lightBlue);
                    color: var(--white);
                }
            }
        }
    }
}

@media (max-width:500px) {
    footer {
        padding: 2rem 1rem;

        .main {
            gap: 1rem;

            .second {
                width: 20rem;
            }
        }
    }
}

.footerBottom {
    padding: 2rem;
    text-align: center;
    background-color: var(--bgBlue);
    color: #ffffffc7;
    border-top: 1px solid #ffffff44;

    p {
        font-family: var(--ibn-font);
        font-size: 1.3rem;
    }
}