/*
 * Prefixed by https://autoprefixer.github.io
 * PostCSS: v8.4.14,
 * Autoprefixer: v10.4.7
 * Browsers: last 4 version
 */
 @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 * {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   outline: none;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-family: "Krona One", sans-serif;
 }
 :root {
   --bgBlue: #1c0d5a;
   --skyBlue: #295cff;
   --white: #fff;
   --lightBlue: #0e94ff;
   --ibn-font: "IBM Plex Sans", sans-serif;
   --black-color: #3D3D3D;
 }
 body {
   overflow-x: hidden;
 }
 nav {
   background-color: var(--bgBlue);
 }
 nav .main {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 20px 50px;
 }
 nav .main a img {
   height: 5rem;
 }
 nav .main ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 2rem;
   list-style: none;
 }
 nav .main ul li #contactN {
   color: var(--skyBlue);
 }
 nav .main ul li a {
   text-decoration: none;
   color: var(--white);
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
 }
 nav .main ul li a:hover {
   color: var(--skyBlue);
 }
 nav .main button {
   background-color: var(--skyBlue);
   color: var(--white);
   border: none;
   padding: 1rem 2rem;
   font-size: 1.05rem;
   border-radius: 5px;
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
   cursor: pointer;
 }
 nav .main button:hover {
   background-color: var(--lightBlue);
 }
 nav .main i {
   font-size: 1.5rem;
   background-color: var(--skyBlue);
   padding: 0.6rem 0.8rem;
   border-radius: 5px;
   color: var(--bgBlue);
   display: none;
   cursor: pointer;
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
 }
 nav .main i:hover {
   background-color: var(--lightBlue);
   color: var(--white);
 }
 nav .responsiveNav {
   height: 100vh;
   width: 80%;
   position: absolute;
   top: 0;
   right: 0;
   background-color: var(--bgBlue);
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
   /* transform: translateX(100%); */
   width: 0;
   overflow: hidden;
   z-index: 999;
 }
 nav .responsiveNav .main {
   padding: 2rem;
 }
 nav .responsiveNav .main i {
   position: absolute;
   top: 1rem;
   right: 1rem;
   background-color: unset;
   color: var(--white);
 }
 nav .responsiveNav .main ul {
   display: block;
   width: 100%;
   padding-top: 3rem;
 }
 nav .responsiveNav .main ul li {
   width: 100%;
   margin-bottom: 2rem;
   border-bottom: 2px solid #ffffff27;
   padding-bottom: 0.5rem;
 }
 @media (max-width: 1035px) {
   nav .main ul {
     display: none;
   }
   nav .main button {
     display: none;
   }
   nav .main i {
     display: block;
   }
 }
 @media (max-width: 500px) {
   nav .main {
     padding: 15px 20px;
   }
   nav .main a img {
     height: 3.7rem;
   }
 }
 .contact {
   background: -webkit-gradient(linear, left top, left bottom, from(#1c0d5ac0), to(#1c0d5abe)), url(/Assets/About/bg.jpeg) center;
   background: -o-linear-gradient(#1c0d5ac0, #1c0d5abe), url(/Assets/About/bg.jpeg) center;
   background: linear-gradient(#1c0d5ac0, #1c0d5abe), url(/Assets/About/bg.jpeg) center;
   background-size: cover;
   height: 340px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 1.5rem;
   text-align: center;
   padding: 1rem;
 }
 .contact h1 {
   font-size: clamp(1.2rem, -0.875rem + 8.333vw, 2rem);
   color: var(--white);
 }
 .contact h3 {
   color: #0e94ff;
   font-size: 1.1rem;
 }
 .form {
   max-width: 80rem;
   padding: 5vw 3vw;
   margin: auto;
 }
 .form .main {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 2rem;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
 }
 .form .main .content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 1.5rem;
 }
 .form .main .content h1 {
   font-size: clamp(1.2rem, -0.875rem + 8.333vw, 2rem);
   font-weight: 400;
   color: var(--bgBlue);
 }
 .form .main .content p {
   font-size: 1.3rem;
   font-family: var(--ibn-font);
   color: var(--black-color);
 }
 .form .main .content h2 {
   font-size: 1rem;
   color: var(--black-color);
 }
 .form .main .content i {
   font-size: 1.8rem;
   color: var(--skyBlue);
   background-color: var(--bgBlue);
   padding: 0.7rem;
   width: 3.3rem;
   border-radius: 3px;
 }
 .form .main .content a {
   text-decoration: none;
   color: var(--black-color);
   font-size: clamp(1rem, -0.875rem + 8.333vw, 1.2rem);
 }
 .form .main form .main {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: var(--bgBlue);
   padding: 2rem;
   border-radius: 4px;
   gap: 0;
   -webkit-box-pack: unset;
   -ms-flex-pack: unset;
   justify-content: unset;
   -webkit-box-align: unset;
   -ms-flex-align: unset;
   align-items: unset;
 }
 .form .main form .main .first {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 1.5rem;
 }
 .form .main form .main .first .l, .form .main form .main .first .r {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
 }
 .form .main form .main .first .l label, .form .main form .main .first .r label {
   color: var(--white);
 }
 .form .main form .main .first .l label span, .form .main form .main .first .r label span {
   color: #e53e3e;
 }
 .form .main form .main .first .l input, .form .main form .main .first .r input {
   margin-top: 0.5rem;
   padding: 1rem;
   border: 1px solid var(--black-color);
   border-radius: 4px;
   background-color: transparent;
   color: #ffffff87;
 }
 .form .main form .main .first .l input::-webkit-input-placeholder, .form .main form .main .first .r input::-webkit-input-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .first .l input::-moz-placeholder, .form .main form .main .first .r input::-moz-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .first .l input:-ms-input-placeholder, .form .main form .main .first .r input:-ms-input-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .first .l input::-ms-input-placeholder, .form .main form .main .first .r input::-ms-input-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .first .l input::placeholder, .form .main form .main .first .r input::placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second, .form .main form .main .third, .form .main form .main .forth {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
 }
 .form .main form .main .second label, .form .main form .main .third label, .form .main form .main .forth label {
   padding-top: 1.5rem;
   color: var(--white);
 }
 .form .main form .main .second label span, .form .main form .main .third label span, .form .main form .main .forth label span {
   color: #e53e3e;
 }
 .form .main form .main .second input, .form .main form .main .third input, .form .main form .main .forth input {
   margin-top: 0.5rem;
   padding: 1rem;
   border: 1px solid var(--black-color);
   border-radius: 4px;
   background-color: transparent;
   color: #ffffff87;
 }
 .form .main form .main .second input::-webkit-input-placeholder, .form .main form .main .third input::-webkit-input-placeholder, .form .main form .main .forth input::-webkit-input-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second input::-moz-placeholder, .form .main form .main .third input::-moz-placeholder, .form .main form .main .forth input::-moz-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second input:-ms-input-placeholder, .form .main form .main .third input:-ms-input-placeholder, .form .main form .main .forth input:-ms-input-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second input::-ms-input-placeholder, .form .main form .main .third input::-ms-input-placeholder, .form .main form .main .forth input::-ms-input-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second input::placeholder, .form .main form .main .third input::placeholder, .form .main form .main .forth input::placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second textarea, .form .main form .main .third textarea, .form .main form .main .forth textarea {
   margin-top: 0.5rem;
   padding: 1rem;
   resize: none;
   border: 1px solid var(--black-color);
   border-radius: 4px;
   background-color: transparent;
   color: #ffffff87;
 }
 .form .main form .main .second textarea::-webkit-input-placeholder, .form .main form .main .third textarea::-webkit-input-placeholder, .form .main form .main .forth textarea::-webkit-input-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second textarea::-moz-placeholder, .form .main form .main .third textarea::-moz-placeholder, .form .main form .main .forth textarea::-moz-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second textarea:-ms-input-placeholder, .form .main form .main .third textarea:-ms-input-placeholder, .form .main form .main .forth textarea:-ms-input-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second textarea::-ms-input-placeholder, .form .main form .main .third textarea::-ms-input-placeholder, .form .main form .main .forth textarea::-ms-input-placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main .second textarea::placeholder, .form .main form .main .third textarea::placeholder, .form .main form .main .forth textarea::placeholder {
   color: #ffffff57;
   font-family: var(--ibn-font);
   font-size: 1.1rem;
 }
 .form .main form .main button {
   margin-top: 2rem;
   padding: 1rem 2rem;
   color: var(--bgBlue);
   background-color: var(--skyBlue);
   border: none;
   border-radius: 3px;
   cursor: pointer;
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
 }
 .form .main form .main button:hover {
   background-color: var(--lightBlue);
   color: var(--white);
 }
 @media (max-width: 1100px) {
   .form .main {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     width: 100%;
   }
   .form .main form {
     padding-top: 2rem;
     width: 100%;
   }
   .form .main form .first .l, .form .main form .first .r {
     width: 100%;
   }
   .form .main form .first input {
     width: 100%;
   }
 }
 @media (max-width: 570px) {
   .form .main .content a {
     font-size: 14px;
   }
   .form .main form .first {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
   }
 }
 @media (max-width: 370px) {
   .form .main .content a {
     font-size: 12px;
   }
 }
 footer {
   background-color: var(--bgBlue);
   padding: 5vw 3vw;
 }
 footer .main {
   color: var(--white);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   max-width: 80rem;
   margin: auto;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
 }
 footer .main .first {
   max-width: 23rem;
   padding-top: 2rem;
 }
 footer .main .first img {
   height: 5rem;
 }
 footer .main .first h1 {
   font-size: clamp(1.05rem, -0.875rem + 8.333vw, 1.1rem);
   font-weight: 400;
   padding: 1.5rem 0;
 }
 footer .main .first p {
   padding-bottom: 0.1rem;
   font-family: var(--ibn-font);
   font-size: 1.3rem;
 }
 footer .main .second {
   padding-top: 2rem;
 }
 footer .main .second h1 {
   font-size: clamp(1.05rem, -0.875rem + 8.333vw, 1.1rem);
   font-weight: 400;
   padding-bottom: 1.2rem;
 }
 footer .main .second a {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   text-decoration: none;
   color: var(--white);
   font-family: var(--ibn-font);
   font-size: 1.3rem;
   padding: 0.3rem 0;
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
 }
 footer .main .second a:hover {
   color: var(--skyBlue);
 }
 footer .main .third {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding-top: 2rem;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 1rem;
 }
 footer .main .third a {
   color: var(--white);
   text-decoration: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
 }
 footer .main .third a:hover {
   color: var(--skyBlue);
 }
 footer .main .third a i {
   font-size: 1.6rem;
   margin-right: 1rem;
 }
 footer .main .fourth {
   max-width: 15rem;
   padding-top: 2rem;
 }
 footer .main .fourth h1 {
   font-size: clamp(1.05rem, -0.875rem + 8.333vw, 1.1rem);
   font-weight: 400;
   padding-bottom: 2rem;
 }
 footer .main .fourth button {
   background-color: var(--skyBlue);
   padding: 1rem 2rem;
   border: none;
   border-radius: 2px;
   color: var(--bgBlue);
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
   cursor: pointer;
 }
 footer .main .fourth button:hover {
   background-color: var(--lightBlue);
   color: var(--white);
 }
 @media (max-width: 500px) {
   footer {
     padding: 2rem 1rem;
   }
   footer .main {
     gap: 1rem;
   }
   footer .main .second {
     width: 20rem;
   }
 }
 .footerBottom {
   padding: 2rem;
   text-align: center;
   background-color: var(--bgBlue);
   color: #ffffffc7;
   border-top: 1px solid #ffffff44;
 }
 .footerBottom p {
   font-family: var(--ibn-font);
   font-size: 1.3rem;
 }
 