/*
 * Prefixed by https://autoprefixer.github.io
 * PostCSS: v8.4.14,
 * Autoprefixer: v10.4.7
 * Browsers: last 4 version
 */
 @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 /* width: clamp(200px, 50% + 20px, 800px); */
 * {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   outline: none;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-family: "Krona One", sans-serif;
 }
 :root {
   --bgBlue: #1c0d5a;
   --skyBlue: #295cff;
   --white: #fff;
   --lightBlue: #0e94ff;
   --ibn-font: "IBM Plex Sans", sans-serif;
   --black-color: #3D3D3D;
 }
 body {
   overflow-x: hidden;
 }
 nav {
   background-color: var(--bgBlue);
 }
 nav .main {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 20px 50px;
 }
 nav .main a img {
   height: 5rem;
 }
 nav .main ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 2rem;
   list-style: none;
 }
 nav .main ul li #faqN {
   color: var(--skyBlue);
 }
 nav .main ul li a {
   text-decoration: none;
   color: var(--white);
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
 }
 nav .main ul li a:hover {
   color: var(--skyBlue);
 }
 nav .main button {
   background-color: var(--skyBlue);
   color: var(--white);
   border: none;
   padding: 1rem 2rem;
   font-size: 1.05rem;
   border-radius: 5px;
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
   cursor: pointer;
 }
 nav .main button:hover {
   background-color: var(--lightBlue);
 }
 nav .main i {
   font-size: 1.5rem;
   background-color: var(--skyBlue);
   padding: 0.6rem 0.8rem;
   border-radius: 5px;
   color: var(--bgBlue);
   display: none;
   cursor: pointer;
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
 }
 nav .main i:hover {
   background-color: var(--lightBlue);
   color: var(--white);
 }
 nav .responsiveNav {
   height: 100vh;
   width: 80%;
   position: fixed;
   top: 0;
   right: 0;
   background-color: var(--bgBlue);
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
   width: 0;
   overflow: hidden;
   z-index: 999;
 }
 nav .responsiveNav .main {
   padding: 2rem;
 }
 nav .responsiveNav .main i {
   position: absolute;
   top: 1rem;
   right: 1rem;
   background-color: unset;
   color: var(--white);
 }
 nav .responsiveNav .main ul {
   display: block;
   width: 100%;
   padding-top: 3rem;
 }
 nav .responsiveNav .main ul li {
   width: 100%;
   margin-bottom: 2rem;
   border-bottom: 2px solid #ffffff27;
   padding-bottom: 0.5rem;
 }
 @media (max-width: 1035px) {
   nav .main ul {
     display: none;
   }
   nav .main button {
     display: none;
   }
   nav .main i {
     display: block;
   }
 }
 @media (max-width: 500px) {
   nav .main {
     padding: 15px 20px;
   }
   nav .main a img {
     height: 3.7rem;
   }
 }
 .faq {
   padding: 5vw 3vw;
   background: -webkit-gradient(linear, left top, left bottom, from(#1c0d5ac5), to(#1c0d5ab9)), url(/Assets/faq/bg.webp) center;
   background: -o-linear-gradient(#1c0d5ac5, #1c0d5ab9), url(/Assets/faq/bg.webp) center;
   background: linear-gradient(#1c0d5ac5, #1c0d5ab9), url(/Assets/faq/bg.webp) center;
   background-size: cover;
 }
 .faq h1 {
   font-size: clamp(1.2rem, -0.875rem + 8.333vw, 2rem);
   text-align: center;
   color: var(--white);
   padding-top: 1rem;
   padding-bottom: 3rem;
 }
 .faq .questions-container {
   max-width: 800px;
   background-color: var(--bgBlue);
   padding: 3rem;
   border-radius: 7px;
   margin: 0 auto;
 }
 .faq .question {
   border-bottom: 1px solid #fff;
 }
 .faq .question button {
   width: 100%;
   background-color: var(--bgBlue);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 20px 15px;
   border: none;
   outline: none;
   font-size: clamp(0.5rem, -0.875rem + 8.333vw, 1.2rem);
   color: #fff;
   cursor: pointer;
 }
 .faq .question p {
   font-family: var(--ibn-font);
   text-align: center;
   font-size: clamp(0.5rem, -0.875rem + 8.333vw, 1.2rem);
   max-height: 0;
   opacity: 0;
   line-height: 1.5;
   overflow: hidden;
   color: var(--white);
   -webkit-transition: all 0.6s ease;
   -o-transition: all 0.6s ease;
   transition: all 0.6s ease;
 }
 .faq .d-arrow {
   -webkit-transition: -webkit-transform 0.5s ease-in;
   transition: -webkit-transform 0.5s ease-in;
   -o-transition: transform 0.5s ease-in;
   transition: transform 0.5s ease-in;
   transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
   color: #fff;
   /*add this class when click*/
 }
 .faq .question p.show {
   max-height: 200px;
   opacity: 1;
   padding: 0px 15px 30px 15px;
 }
 .faq .question button .d-arrow.rotate {
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   transform: rotate(180deg);
 }
 footer {
   background-color: var(--bgBlue);
   padding: 5vw 3vw;
 }
 footer .main {
   color: var(--white);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   max-width: 80rem;
   margin: auto;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
 }
 footer .main .first {
   max-width: 23rem;
   padding-top: 2rem;
 }
 footer .main .first img {
   height: 5rem;
 }
 footer .main .first h1 {
   font-size: clamp(1.05rem, -0.875rem + 8.333vw, 1.1rem);
   font-weight: 400;
   padding: 1.5rem 0;
 }
 footer .main .first p {
   padding-bottom: 0.1rem;
   font-family: var(--ibn-font);
   font-size: 1.3rem;
 }
 footer .main .second {
   padding-top: 2rem;
 }
 footer .main .second h1 {
   font-size: clamp(1.05rem, -0.875rem + 8.333vw, 1.1rem);
   font-weight: 400;
   padding-bottom: 1.2rem;
 }
 footer .main .second a {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   text-decoration: none;
   color: var(--white);
   font-family: var(--ibn-font);
   font-size: 1.3rem;
   padding: 0.3rem 0;
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
 }
 footer .main .second a:hover {
   color: var(--skyBlue);
 }
 footer .main .third {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding-top: 2rem;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 1rem;
 }
 footer .main .third a {
   color: var(--white);
   text-decoration: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
 }
 footer .main .third a:hover {
   color: var(--skyBlue);
 }
 footer .main .third a i {
   font-size: 1.6rem;
   margin-right: 1rem;
 }
 footer .main .fourth {
   max-width: 15rem;
   padding-top: 2rem;
 }
 footer .main .fourth h1 {
   font-size: clamp(1.05rem, -0.875rem + 8.333vw, 1.1rem);
   font-weight: 400;
   padding-bottom: 2rem;
 }
 footer .main .fourth button {
   background-color: var(--skyBlue);
   padding: 1rem 2rem;
   border: none;
   border-radius: 2px;
   color: var(--bgBlue);
   -webkit-transition: 200ms all;
   -o-transition: 200ms all;
   transition: 200ms all;
   cursor: pointer;
 }
 footer .main .fourth button:hover {
   background-color: var(--lightBlue);
   color: var(--white);
 }
 @media (max-width: 500px) {
   footer {
     padding: 2rem 1rem;
   }
   footer .main {
     gap: 1rem;
   }
   footer .main .second {
     width: 20rem;
   }
 }
 .footerBottom {
   padding: 2rem;
   text-align: center;
   background-color: var(--bgBlue);
   color: #ffffffc7;
   border-top: 1px solid #ffffff44;
 }
 .footerBottom p {
   font-family: var(--ibn-font);
   font-size: 1.3rem;
 }
 